MONGO_URI=mongodb://localhost:27017/NutriAI
JWT_SECRET=your_jwt_secret_here
PORT=3000
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
